<div class="burger-menu">
    <div class="burger__container container js-burger-menu">
        <div class="burger__wrapper">
            <div class="burger-logo">
                <svg class='icon-logo'>
                    <use href='/src/images/icon/sprite.svg#icon-cupcake'></use>
                </svg>
                <p class="burger__name-cake">Торти</p>
                <p class="burger__name-logo">на замовлення</p>
            </div>
            <div class="burger__icon-close js-close-burger">
                <svg class='icon-close'>
                    <use href='/src/images/icon/sprite.svg#icon-close'></use>
                </svg>
            </div>
        </div>
        <div class="burger__body">
            <ul class="burger__list">
                <li class="burger__item">
                    <a href="/src/index.html" class="burger__link"> Про нас </a>
                </li>
                <li class="burger__item">
                    <a href="/src/cataloge.html" class="burger__link">
                        Каталог тортів
                    </a>
                </li>
                <li class="burger__item">
                    <a href="/src/contacts.html" class="burger__link">
                        Контакти
                    </a>
                </li>
                <li class="burger__item">
                    <a href="#" class="burger__link"> Відгуки </a>
                </li>
                <li class="burger__item">
                    <a href="#" class="burger__link"> Замовлення </a>
                </li>
            </ul>
            <div class="burger__wrapper-tel">
                <a href="tel:+380989888888" class="burger__tel">+38 (098) 988 - 88 -88</a>
            </div>
            <ul class="burger__social-list">
                <li class="burger__login">
                    <div class="burger__wrapper-login">
                        <svg class='icon-login'>
                            <use href='/src/images/icon/sprite.svg#icon-person'></use>
                        </svg>
                    </div>
                    <p class="burger__login-text">Вхід в кабінет</p>
                </li>
                <li class="burger__item-social"><a href="https://www.facebook.com/?locale=uk_UA" target="_blank"
                        class="burger__social-link">
                        <svg class='icon-fb'>
                            <use href='/src/images/icon/sprite.svg#icon-fb'></use>
                        </svg>
                    </a>
                </li>
                <li class="burger__item-social"><a href="https://www.instagram.com/" target="_blank"
                        class="burger__social-link">
                        <svg class='icon-inst'>
                            <use href='/src/images/icon/sprite.svg#icon-inst'></use>
                        </svg>
                    </a>
                </li>
                <li class="burger__item-social"><a href="https://web.telegram.org/" target="_blank"
                        class="burger__social-link">
                        <svg class='icon-telegram'>
                            <use href='/src/images/icon/sprite.svg#icon-telegram'></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>