.cataloge__card-container {
    padding-top: 20px;
    padding-bottom: 40px;
}
.cataloge__card-list {
    display: flex;
    margin-bottom: 20px;
}
.cataloge__card-item {
    display: flex;
    align-items: center;
}
.cataloge__card-link {
    color: var(--general-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}
.link-icon {
    width: 16px;
    height: 16px;
    fill: var(--general-color);
}
.cataloge__card-link span {
    color: var(--second-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}
.cataloge__list-card {
    display: flex;
    flex-direction: column;
    column-gap: 24px;
    row-gap: 24px;
}
.cataloge__item-card {
    width: 100%;
}
.cataloge__card-img {
   width: 100%;
}
.cataloge__card-thumb {
    position: relative;
    z-index: 20;
    margin-top: 8px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.75);
}
.cataloge__wrapper-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.cataloge__name {
    color: var(--second-color);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    line-height: 22px; /* 110% */
    letter-spacing: -0.275px;
}
.cataloge__wrapper-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    width: 32px;
    height: 32px;
    border: 1px solid var(--general-color);
    border-radius: 40px;
}
.cataloge__card-icon {
    width: 18px;
    height: 18px;
}
.cataloge__list-tag {
    display: flex;
    gap: 4px;
}
.cataloge__tag-link {
    color: var(--general-color);
}
@media screen and (min-width: 479.98px) {
    .cataloge__list-card {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cataloge__item-card {
        max-width: 47%;
    }
    .cataloge__item-tag {
        padding: 1px 4px;
    }
}
@media screen and (min-width: 599.98px) {
    .cataloge__item-tag {
        padding: 1px 10px;
    }
}
@media screen and (min-width: 767.98px) {
    .cataloge__card-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media screen and (min-width: 991.98px) {
    .cataloge__card-container {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .cataloge__card-list {
        margin-bottom: 60px;
    }
    .cataloge__card-link {
        font-size: 16px;
        line-height: 20px; /* 125% */
        &:hover {
            text-decoration: underline;
        }
    }
    .cataloge__card-link span {
        font-size: 16px;
        line-height: 20px; /* 125% */
        &:hover {
            text-decoration: underline;
        }
    }
    .cataloge__list-card {
        row-gap: 32px;
    }
    .cataloge__item-card {
        width: 443px;
    }
    .cataloge__wrapper-img {
        overflow: hidden;
        width: 443px;
    }
    .cataloge__card-img {
        width: 443px;
        transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            transform: scale(1.1);
        }
    }
    .cataloge__card-thumb {
        width: 420px;
        margin-left: 12px;
        margin-right: 12px;
        margin-top: -152px;
        padding: 32px;
    }
    .cataloge__name {
        transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            color: var(--button-color);
        }
    }
    .cataloge__wrapper-icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .cataloge__card-icon {
        width: 28px;
        height: 28px;
    }
    .cataloge__list-tag {
        gap: 12px;
    }
    .cataloge__item-tag {
        cursor: pointer;
        transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            color: var(--button-color);
            border: 1px solid var(--button-color);
        }
        &:hover .cataloge__tag-link {
            color: var(--button-color);
        }
    }
}
@media screen and (min-width: 1439.98px) {
    .cataloge__card-container {
        padding-left: 80px;
        padding-right: 80px;
    }
    .cataloge__list-card {
        row-gap: 36px;
    }
    .cataloge__item-card {
        min-width: 628px;
    }
    .cataloge__wrapper-img {
        width: 628px;
    }
    .cataloge__card-img {
        width: 628px;
    }
    .cataloge__card-thumb {
        width: 596px;
        margin-top: -206px;
        margin-left: 16px;
        margin-right: 16px;
        padding: 48px;
    }
    .cataloge__name {
        font-size: 28px;
        line-height: 34px; /* 121.429% */
        letter-spacing: -0.6px;
    }
    .cataloge__wrapper-icon {
        width: 58px;
        height: 58px;
    }
    .cataloge__card-icon {
        width: 40px;
        height: 40px;
    }
}