body {
    color: var(--general-color);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 30px */
    background-color: var(--white-color);
}
.container {
    width: 320px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.general-title {
    color: var(--second-color);
    font-size: 24px;
    font-weight: 800;
}
.title {
    color: var(--second-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 100%; /* 60px */
}
.button-frame {
    color: var(--general-color);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 600;
    line-height: 20px; /* 166.667% */

    border-radius: 4px;
    border: 1px solid var(--general-color);
}
.button-inherit {
    color: var(--button-color);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    line-height: 32px; /* 160% */

    border-radius: 6px;
    border: 1px solid var(--button-color);
}
.button-blue {
    color: var(--white-color);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    line-height: 32px; /* 160% */

    border-radius: 8px;
    border: 3px solid var(--button-color);
    background: var(--button-color);
}
.button-grey {
    color: var(--general-color);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    line-height: 32px; /* 160% */

    border-radius: 8px;
    border: 1px solid rgba(95, 105, 128, 0.20);
    background: rgba(95, 105, 128, 0.20);
}
.hidden {
    overflow: hidden
}
@media screen and (min-width: 479.98px) {
    .container {
        width: 480px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (min-width: 767.98px) {
    .container {
        width: 767px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media screen and (min-width: 991.98px) {
    body {
        font-size: 20px;
    }
    .container {
        width: 992px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .general-title {
        font-size: 80px;
    }
    .title {
        font-size: 48px;
    }
    .button-inherit {
        font-size: 26px;    
        border-radius: 8px;
        border: 3px solid var(--button-color);
    }
    .button-blue {
        font-size: 26px;    
        border-radius: 8px;
        border: 3px solid var(--button-color);
    }
    .button-grey {
        font-size: 26px;    
        border-radius: 8px;
        border: 3px solid rgba(95, 105, 128, 0.20);
    }
}
@media screen and (min-width: 1439.98px) {
    body {
        font-size: 24px;
    }
    .container {
        width: 1440px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .general-title {
        font-size: 100px;
    }
    .title {
        font-size: 60px;
    }
}

// Плавний ховер
// transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// box-shadow: 0px 13px 19px rgba(0,0,0,.07);