.team {
  padding-bottom: 17px;
}
.position-image-cake {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.title-catalogy {
  color: #001648;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.28px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.list-catalogy {
  display: flex;
  margin-left: 10px;
  column-gap: 8px;
}
.link-catalogy {
  border: 1px solid var(--general-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 1.5px 6.5px;
}
.links-caralog {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 6.4px;
  line-height: 10.38px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--general-color);
}
.position-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22.8px;
}
