.basket__main-body {
    padding: 20px 0px;
    border-bottom: 1px solid rgba(95, 105, 128, 0.2);
}
.basket__main-wrapper-filter {
    margin-bottom: 20px;
    margin-top: 4px;
}
.spoiler-filter {
    width: 100%;
}
.basket__main-filter {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 9px 16px;
    font-size: 12px;
    line-height: 24px; /* 200% */
}
.setting-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.chevron-icon {
    width: 20px;
    height: 20px;
    margin-left: auto;
    transform: rotate(180deg);
    transition: all 0.5s ease;
}
.basket__main-wrapper-list {
   max-height: 0px;
    padding-left: 32px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(0px, -2%);
    transition: all 0.5s ease;
}
.basket__main-filter-title {
    margin-top: 8px;
    margin-bottom: 12px;
    padding-bottom: 8px;
    color: var(--second-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.6px;
    border-bottom: 1px solid rgba(95, 105, 128, 0.2);
    &:first-child {
        margin-top: 16px;
    }
}
.basket__main-filter-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-left: 18px;
}
.basket__main-filter-item {
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: -0.6px;
    list-style-type: disc;
    cursor: pointer;
}
.basket__main-filter-range {
    width: 100%;
    appearance: none;
    background-color: rgba(95, 105, 128, 0.2);
    height: 10px;
    overflow: hidden;
    border-radius: 6px;
}
.basket__main-filter-range::-webkit-slider-thumb {
    appearance: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 4px solid var(--button-color);
    background-color: var(--white-color);
    box-shadow: -200px 0 0 185px var(--button-color);
}
.basket__main-filter-range::-moz-range-progress {
    appearance: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--white-color);
}
.basket__main-fiter-wrapper-button {
    display: flex;
    column-gap: 12px;
    margin-top: 15px;
    margin-bottom: 12px;
}
.basket__main-fiter-button-value  {
    width: 100%;
    font-size: 14px;
    background-color: inherit;
    text-align: center;
}
.basket__main-fiter-sort {
    width: 100%;
    padding: 8px 20px;
    margin-bottom: 20px;
    color: var(--button-color);
    font-size: 14px;
    line-height: 16px; /* 160% */
    background-color: var(--white-color);
    border: 1px solid var(--button-color);
}
.basket__main-fiter-apply {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 8px;
    color: var(--white-color);;
    font-size: 14px;
    line-height: 16px; /* 160% */
    border-radius: 6px;
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
}
.basket__main-fiter-reset {
    width: 100%;
    padding: 10px 20px;
    color: var(--general-color);
    font-size: 14px;
    line-height: 16px; /* 160% */
    background-color: inherit;
}
.basket__main-nav-list {
    display: flex;
    align-items: center;
    column-gap: 4px;
    margin-bottom: 20px;
}
.basket__main-nav-item {
    display: flex;
    align-items: center;
}
.basket__main-nav-link {
    color: var(--general-color);
    font-size: 12px;
    line-height: 16px; /* 133.333% */
    &:hover {
        text-decoration: underline;
    }
}
.basket__main-title {
    margin-bottom: 12px;
}
.basket__main-cake-list {
    padding: 20px 0px 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid rgba(95, 105, 128, 0.2);
}
.basket__main-cake-item {
    min-width: 280px;
}
.basket__main-wrapper-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.basket__main-cake-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.basket__main-thumb {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.basket__main-name {
    margin-bottom: 5px;
    color: var(--second-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.6px;
}
.basket__main-kind {
    margin-bottom: 20px;
    font-size: 14px;
    font-style: italic;
    line-height: 150%; /* 15px */
}
.basket__main-choise {
    width: 100%;
    padding: 8px 10px;
    font-size: 16px;
    background-color: inherit;
}
// .basket__main-pagination {
// }
@media screen and (min-width: 479.98px) {
    .basket__main-filter {
        font-size: 16px;
    }
    .basket__main-nav-link {
        font-size: 14px;
    }
}
@media screen and (min-width: 619.98px) {
    .basket__main-title {
        font-size: 28px;
    }
    .basket__main-cake-item {
        width: 48%;
    }
    .basket__main-name {
        font-size: 18px;
    }
    .basket__main-kind {
        font-size: 16px;
    }
    .basket__main-choise {
        font-size: 18px;
    }
}
@media screen and (min-width: 991.98px) {
    .basket__main-body {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .basket__main-wrapper-filter {
        width: 30%;
    }
    .basket__main-filter-item {
        transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            color: var(--button-color);
        }
    }
    .basket__main-fiter-sort {
        transition:  background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            background-color: var(--button-color);
            color: var(--white-color);
        }
    }
    .basket__main-fiter-apply {
        transition:  background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            background-color: var(--white-color);
            color: var(--second-color);
        }
    }
    .basket__main-fiter-reset {
        &:hover {
            text-decoration: underline;
        }
    }
    .basket__main-wrapper {
        width: 70%;
    }
    .basket__main-title {
        font-size: 48px;
    }
    .basket__main-cake-list {
        gap: 30px;
    }
    .basket__main-cake-item {
        width: 31%;
    }
    .basket__main-choise {
        transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            background-color: var(--button-color);
            color: var(--white-color);
        }
    }
}
.change-color {
    border: 3px solid var(--second-color);
    background: var(--second-color);
}
.open-spoiler {
    max-height: 100%;
    opacity: 1;
    transform: translate(0px, 0px);
    pointer-events: all;
}
.rotate-icon {
    transform: rotate(0deg);
}