<section class="basket__main">
    <div class="basket__main-container container">
        <div class="basket__main-body">
            <div class="basket__main-wrapper-filter">
                <details class="spoiler-filter">
                    <summary class="basket__main-spoiler">
                        <button type="button" class="basket__main-filter button-blue">
                            <img src="/src/images/icon/setting.png" alt="icon-setting" class="setting-icon">
                            Розгорнути фільтри
                            <svg class='chevron-icon'>
                                <use href='/src/images/icon/sprite.svg#icon-chevron-down'></use>
                            </svg>
                        </button>
                    </summary>
                    <div class="basket__main-wrapper-list">
                        <h3 class="basket__main-filter-title">Торти</h3>
                        <ul class="basket__main-filter-list">
                            <li class="basket__main-filter-item">Весільний торт</li>
                            <li class="basket__main-filter-item">Дитячий торт</li>
                            <li class="basket__main-filter-item">Торт для неї</li>
                            <li class="basket__main-filter-item">Торт для нього</li>
                            <li class="basket__main-filter-item">Бенто-тортик</li>
                            <li class="basket__main-filter-item">Корпоративний торт</li>
                        </ul>
                        <h3 class="basket__main-filter-title">Випічка</h3>
                        <ul class="basket__main-filter-list">
                            <li class="basket__main-filter-item">Панкейки</li>
                            <li class="basket__main-filter-item">Пироги</li>
                            <li class="basket__main-filter-item">Тістечка</li>
                        </ul>
                        <h3 class="basket__main-filter-title">Десерти</h3>
                        <ul class="basket__main-filter-list">
                            <li class="basket__main-filter-item">Трайфли</li>
                            <li class="basket__main-filter-item">Цукерки</li>
                            <li class="basket__main-filter-item">Макаруни</li>
                        </ul>
                        <h3 class="basket__main-filter-title">Сортування по ціні</h3>
                        <input type="range" value="100" min="0" max="800" class="basket__main-filter-range">
                        <div class="basket__main-fiter-wrapper-button">
                            <button class="basket__main-fiter-button-less button-frame">100</button>
                            <button class="basket__main-fiter-button-more button-frame">800</button>
                        </div>
                        <button class="basket__main-fiter-sort button-blue">Відсортувати по ціні</button>
                        <button class="basket__main-fiter-apply">Застосувати фільтри</button>
                        <button class="basket__main-fiter-reset">Скасувати усі фільтри</button>
                    </div>
                </details>
            </div>
            <div class="basket__main-wrapper">
                <ul class="basket__main-nav-list">
                    <li class="basket__main-nav-item">
                        <a href="/src/index.html" class="basket__main-nav-link">Головна</a>
                        <svg class='link-icon'>
                            <use href='/src/images/icon/sprite.svg#icon-chevron-right'></use>
                        </svg>
                    </li>
                    <li class="basket__main-nav-item">
                        <a href="/src/cataloge.html" class="basket__main-nav-link">Каталог товарів</a>
                        <svg class='link-icon'>
                            <use href='/src/images/icon/sprite.svg#icon-chevron-right'></use>
                        </svg>
                    </li>
                    <li class="basket__main-nav-item">
                        <a href="/src/card_basket.html" class="basket__main-nav-link">Торти</a>
                    </li>
                </ul>
                <h2 class="basket__main-title title">Торти</h2>
                <ul class="basket__main-cake-list">
                    <li class="basket__main-cake-item">
                        <div class="basket__main-wrapper-img">
                            <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                        </div>
                        <div class="basket__main-thumb">
                            <a href="#" class="basket__main-link">
                                <h3 class="basket__main-name">Торт Білий</h3>
                            </a>
                            <p class="basket__main-kind">Весільний торт</p>
                            <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                        </div>
                    </li>
                    <li class="basket__main-cake-item">
                        <div class="basket__main-wrapper-img">
                            <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                        </div>
                        <div class="basket__main-thumb">
                            <a href="#" class="basket__main-link">
                                <h3 class="basket__main-name">Торт Білий</h3>
                            </a>
                            <p class="basket__main-kind">Весільний торт</p>
                            <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                        </div>
                    </li>
                    <li class="basket__main-cake-item">
                        <div class="basket__main-wrapper-img">
                            <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                        </div>
                        <div class="basket__main-thumb">
                            <a href="#" class="basket__main-link">
                                <h3 class="basket__main-name">Торт Білий</h3>
                            </a>
                            <p class="basket__main-kind">Весільний торт</p>
                            <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                        </div>
                    </li>
                    <li class="basket__main-cake-item">
                        <div class="basket__main-wrapper-img">
                            <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                        </div>
                        <div class="basket__main-thumb">
                            <a href="#" class="basket__main-link">
                                <h3 class="basket__main-name">Торт Білий</h3>
                            </a>
                            <p class="basket__main-kind">Весільний торт</p>
                            <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                        </div>
                    </li>
                    <li class="basket__main-cake-item">
                        <div class="basket__main-wrapper-img">
                            <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                        </div>
                        <div class="basket__main-thumb">
                            <a href="#" class="basket__main-link">
                                <h3 class="basket__main-name">Торт Білий</h3>
                            </a>
                            <p class="basket__main-kind">Весільний торт</p>
                            <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                        </div>
                    </li>
                    <li class="basket__main-cake-item">
                        <div class="basket__main-wrapper-img">
                            <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                        </div>
                        <div class="basket__main-thumb">
                            <a href="#" class="basket__main-link">
                                <h3 class="basket__main-name">Торт Білий</h3>
                            </a>
                            <p class="basket__main-kind">Весільний торт</p>
                            <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                        </div>
                    </li>
                </ul>
                <div class="basket__main-pagination">PAGINATION</div>
            </div>
        </div>
    </div>
</section>