<section class="basket__how">
    <div class="basket__how-container container">
        <div class="basket__how-body">
            <h2 class="basket__how-title title">Як обрати торт?</h2>
            <ul class="basket__how-list-text">
                <li class="basket__how-item-text">
                    <p class="basket__how-text">Перше, що необхідно знати, перед тим, як замовляти торт, звичайно ж,
                        визначитися з кількістю гостей. Саме цей фактор має ключове значення. Так як від кількості
                        залежить вага та розмір торту.
                    </p>
                </li>
                <li class="basket__how-item-text">
                    <p class="basket__how-text">На одну людину має бути 130-150г торму.</p>
                </li>
                <li class="basket__how-item-text">
                    <p class="basket__how-text">Далі обираємо начинку, коржі, покриття та декор.</p>
                </li>
            </ul>
            <button class="basket__how-button button-inherit">Зв’язатися з менеджером </button>
        </div>
    </div>
</section>