<section class="basket__main">
    <div class="basket__main-container container">
        <div class="basket__main-body">
            <div class="basket__main-wrapper-filter">
                <div class="spoiler-filter">
                    <div class="basket__main-spoiler js-triger-spoiler">
                        <button type="button" class="basket__main-filter button-blue js-spoiler-button">
                            <img src="/src/images/icon/setting.png" alt="icon-setting" class="setting-icon">
                            Розгорнути фільтри
                            <svg class='chevron-icon js-spoiler-icon'>
                                <use href='/src/images/icon/sprite.svg#icon-chevron-down'></use>
                            </svg>
                        </button>
                    </div>
                    <form action="#" class="basket__main-wrapper-list js-spoiler-content">
                        <h3 class="basket__main-filter-title">Торти</h3>
                        <ul class="basket__main-filter-list">
                            <li class="basket__main-filter-item">
                                <label for="wedding" class="basket__main-filter-label">
                                    <input type="radio" id="wedding" name="filter"
                                        class="basket__main-filter-radio">Весільний торт
                                    <span class="custom__radio-button-filter"></span>
                                </label>
                            </li>
                            <li class="basket__main-filter-item">
                                <label for="children" class="basket__main-filter-label">
                                    <input type="radio" id="children" name="filter"
                                        class="basket__main-filter-radio">Дитячий торт
                                    <span class="custom__radio-button-filter"></span>
                                </label>
                            </li>
                            <li class="basket__main-filter-item">
                                <label for="her" class="basket__main-filter-label">
                                    <input type="radio" id="her" name="filter" class="basket__main-filter-radio">Торт
                                    для неї
                                    <span class="custom__radio-button-filter"></span>
                                </label>
                            </li>
                            <li class="basket__main-filter-item">
                                <label for="his" class="basket__main-filter-label">
                                    <input type="radio" id="his" name="filter" class="basket__main-filter-radio">Торт
                                    для нього
                                    <span class="custom__radio-button-filter"></span>
                                </label>
                            </li>
                            <li class="basket__main-filter-item">
                                <label for="bento" class="basket__main-filter-label">
                                    <input type="radio" id="bento" name="filter"
                                        class="basket__main-filter-radio">Бенто-тортик
                                    <span class="custom__radio-button-filter"></span>
                                </label>
                            </li>
                            <li class="basket__main-filter-item">
                                <label for="corporate" class="basket__main-filter-label">
                                    <input type="radio" id="corporate" name="filter"
                                        class="basket__main-filter-radio">Корпоративний торт
                                    <span class="custom__radio-button-filter"></span>
                                </label>
                            </li>
                        </ul>
                        <h3 class="basket__main-filter-title">Випічка</h3>
                        <ul class="basket__main-filter-list">
                            <li class="basket__main-filter-item">
                                <label for="pancakes" class="basket__main-filter-label">
                                    <input type="radio" id="pancakes" name="filter"
                                        class="basket__main-filter-radio">Панкейки
                                    <span class="custom__radio-button-filter"></span>
                                </label>
                            </li>
                            <li class="basket__main-filter-item">
                                <label for="pie" class="basket__main-filter-label">
                                    <input type="radio" id="pie" name="filter" class="basket__main-filter-radio">Пироги
                                    <span class="custom__radio-button-filter"></span>
                                </label>
                            </li>
                            <li class="basket__main-filter-item">
                                <label for="cake" class="basket__main-filter-label">
                                    <input type="radio" id="cake" name="filter"
                                        class="basket__main-filter-radio">Тістечка
                                    <span class="custom__radio-button-filter"></span>
                                </label>
                            </li>
                        </ul>
                        <h3 class="basket__main-filter-title">Десерти</h3>
                        <ul class="basket__main-filter-list">
                            <li class="basket__main-filter-item">
                                <label for="trifle" class="basket__main-filter-label">
                                    <input type="radio" id="trifle" name="filter"
                                        class="basket__main-filter-radio">Трайфли
                                    <span class="custom__radio-button-filter"></span>
                                </label>
                            </li>
                            <li class="basket__main-filter-item">
                                <label for="sweets" class="basket__main-filter-label">
                                    <input type="radio" id="sweets" name="filter"
                                        class="basket__main-filter-radio">Цукерки
                                    <span class="custom__radio-button-filter"></span>
                                </label>
                            </li>
                            <li class="basket__main-filter-item">
                                <label for="macaroon" class="basket__main-filter-label">
                                    <input type="radio" id="macaroon" name="filter" class="basket__main-filter-radio">
                                    Макаруни
                                    <span class="custom__radio-button-filter"></span>
                                </label>
                            </li>
                        </ul>
                        <h3 class="basket__main-filter-title">Сортування по ціні</h3>
                        <input type="range" value="100" min="0" max="800"
                            class="basket__main-filter-range js-change-value">
                        <div class="basket__main-fiter-wrapper-button">
                            <input type="number" value="100"
                                class="basket__main-fiter-button-value button-frame js-value">
                        </div>
                        <button type="submit" class="basket__main-fiter-sort button-blue">Відсортувати по ціні</button>
                        <button type="submit" class="basket__main-fiter-apply">Застосувати фільтри</button>
                        <button type="reset" class="basket__main-fiter-reset js-reset">Скасувати усі фільтри</button>
                    </form>
                </div>
            </div>
            <div class="basket__main-wrapper">
                <ul class="basket__main-nav-list">
                    <li class="basket__main-nav-item">
                        <a href="/src/index.html" class="basket__main-nav-link">Головна</a>
                        <svg class='link-icon'>
                            <use href='/src/images/icon/sprite.svg#icon-chevron-right'></use>
                        </svg>
                    </li>
                    <li class="basket__main-nav-item">
                        <a href="/src/cataloge.html" class="basket__main-nav-link">Каталог товарів</a>
                        <svg class='link-icon'>
                            <use href='/src/images/icon/sprite.svg#icon-chevron-right'></use>
                        </svg>
                    </li>
                    <li class="basket__main-nav-item">
                        <a href="/src/card_basket.html" class="basket__main-nav-link">Торти</a>
                    </li>
                </ul>
                <h2 class="basket__main-title title">Торти</h2>
                <ul class="basket__main-cake-list">
                    <li class="basket__main-cake-item">
                        <div class="basket__main-wrapper-img">
                            <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                        </div>
                        <div class="basket__main-thumb">
                            <a href="#" class="basket__main-link">
                                <h3 class="basket__main-name">Торт Білий</h3>
                            </a>
                            <p class="basket__main-kind">Весільний торт</p>
                            <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                        </div>
                    </li>
                    <li class="basket__main-cake-item">
                        <div class="basket__main-wrapper-img">
                            <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                        </div>
                        <div class="basket__main-thumb">
                            <a href="#" class="basket__main-link">
                                <h3 class="basket__main-name">Торт Білий</h3>
                            </a>
                            <p class="basket__main-kind">Весільний торт</p>
                            <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                        </div>
                    </li>
                    <li class="basket__main-cake-item">
                        <div class="basket__main-wrapper-img">
                            <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                        </div>
                        <div class="basket__main-thumb">
                            <a href="#" class="basket__main-link">
                                <h3 class="basket__main-name">Торт Білий</h3>
                            </a>
                            <p class="basket__main-kind">Весільний торт</p>
                            <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                        </div>
                    </li>
                    <li class="basket__main-cake-item">
                        <div class="basket__main-wrapper-img">
                            <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                        </div>
                        <div class="basket__main-thumb">
                            <a href="#" class="basket__main-link">
                                <h3 class="basket__main-name">Торт Білий</h3>
                            </a>
                            <p class="basket__main-kind">Весільний торт</p>
                            <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                        </div>
                    </li>
                    <li class="basket__main-cake-item">
                        <div class="basket__main-wrapper-img">
                            <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                        </div>
                        <div class="basket__main-thumb">
                            <a href="#" class="basket__main-link">
                                <h3 class="basket__main-name">Торт Білий</h3>
                            </a>
                            <p class="basket__main-kind">Весільний торт</p>
                            <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                        </div>
                    </li>
                    <li class="basket__main-cake-item">
                        <div class="basket__main-wrapper-img">
                            <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                        </div>
                        <div class="basket__main-thumb">
                            <a href="#" class="basket__main-link">
                                <h3 class="basket__main-name">Торт Білий</h3>
                            </a>
                            <p class="basket__main-kind">Весільний торт</p>
                            <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                        </div>
                    </li>
                </ul>
                <div class="basket__main-pagination">PAGINATION</div>
            </div>
        </div>
    </div>
</section>