<section class="basket__main">
    <div class="basket__main-container container">
        <div class="basket__main-body">
            <div class="basket__main-wrapper-filter">
                <button type="button" class="basket__main-filter button-blue">
                    <img src="/src/images/icon/setting.png" alt="icon-setting" class="setting-icon">
                    Розгорнути фільтри
                    <svg class='chevron-icon'>
                        <use href='/src/images/icon/sprite.svg#icon-chevron-down'></use>
                    </svg>
                </button>
            </div>
            <ul class="basket__main-nav-list">
                <li class="basket__main-nav-item">
                    <a href="/src/index.html" class="basket__main-nav-link">Головна</a>
                    <svg class='link-icon'>
                        <use href='/src/images/icon/sprite.svg#icon-chevron-right'></use>
                    </svg>
                </li>
                <li class="basket__main-nav-item">
                    <a href="/src/cataloge.html" class="basket__main-nav-link">Каталог товарів</a>
                    <svg class='link-icon'>
                        <use href='/src/images/icon/sprite.svg#icon-chevron-right'></use>
                    </svg>
                </li>
                <li class="basket__main-nav-item">
                    <a href="/src/card_basket.html" class="basket__main-nav-link">Торти</a>
                </li>
            </ul>
            <h2 class="basket__main-title title">Торти</h2>
            <ul class="basket__main-cake-list">
                <li class="basket__main-cake-item">
                    <div class="basket__main-wrapper-img">
                        <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                    </div>
                    <div class="basket__main-thumb">
                        <a href="#" class="basket__main-link">
                            <h3 class="basket__main-name">Торт Білий</h3>
                        </a>
                        <p class="basket__main-kind">Весільний торт</p>
                        <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                    </div>
                </li>
                <li class="basket__main-cake-item">
                    <div class="basket__main-wrapper-img">
                        <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                    </div>
                    <div class="basket__main-thumb">
                        <a href="#" class="basket__main-link">
                            <h3 class="basket__main-name">Торт Білий</h3>
                        </a>
                        <p class="basket__main-kind">Весільний торт</p>
                        <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                    </div>
                </li>
                <li class="basket__main-cake-item">
                    <div class="basket__main-wrapper-img">
                        <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                    </div>
                    <div class="basket__main-thumb">
                        <a href="#" class="basket__main-link">
                            <h3 class="basket__main-name">Торт Білий</h3>
                        </a>
                        <p class="basket__main-kind">Весільний торт</p>
                        <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                    </div>
                </li>
                <li class="basket__main-cake-item">
                    <div class="basket__main-wrapper-img">
                        <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                    </div>
                    <div class="basket__main-thumb">
                        <a href="#" class="basket__main-link">
                            <h3 class="basket__main-name">Торт Білий</h3>
                        </a>
                        <p class="basket__main-kind">Весільний торт</p>
                        <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                    </div>
                </li>
                <li class="basket__main-cake-item">
                    <div class="basket__main-wrapper-img">
                        <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                    </div>
                    <div class="basket__main-thumb">
                        <a href="#" class="basket__main-link">
                            <h3 class="basket__main-name">Торт Білий</h3>
                        </a>
                        <p class="basket__main-kind">Весільний торт</p>
                        <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                    </div>
                </li>
                <li class="basket__main-cake-item">
                    <div class="basket__main-wrapper-img">
                        <img src="/src/images/card/blue_cake.webp" alt="cake" class="basket__main-cake-img">
                    </div>
                    <div class="basket__main-thumb">
                        <a href="#" class="basket__main-link">
                            <h3 class="basket__main-name">Торт Білий</h3>
                        </a>
                        <p class="basket__main-kind">Весільний торт</p>
                        <button class="basket__main-choise button-inherit">550 грн / 1 кг</button>
                    </div>
                </li>
            </ul>
            <div class="basket__main-pagination">PAGINATION</div>
        </div>
    </div>
</section>