<footer class="footer">
  <div class="footer__line"></div>
  <div class="footer__container container">
    <div class="footer__body">
      <ul class="footer__list-social">
        <li class="footer__item-social">
          <a href="/src/index.html" class="footer__link-social">Головна
          </a>
        </li>
        <li class="footer__item-social">
          <a href="https://www.facebook.com/?locale=uk_UA" target="_blank" class="footer__link-social">Facebook
          </a>
        </li>
        <li class="footer__item-social">
          <a href="https://www.instagram.com/" target="_blank" class="footer__link-social">Instagram
          </a>
        </li>
        <li class="footer__item-social">
          <a href="https://web.telegram.org/" target="_blank" class="footer__link-social">Telegram
          </a>
        </li>
      </ul>
      <div class="footer__wrapper-logo">
        <svg class='footer__icon-logo'>
          <use href='/src/images/icon/sprite.svg#icon-cupcake'></use>
        </svg>
        <a href="/src/index.html" class="footer__link-logo">
          <p class="footer__name-cake">Торти <br> <span class="footer__name-logo">на замовлення</span></p>
        </a>
      </div>
      <nav class="footer__nav">
        <ul class="footer__list-nav">
          <li class="footer__item-nav">
            <a href="#" class="footer__link-nav">Особистий кабінет</a>
          </li>
          <li class="footer__item-nav">
            <a href="/src/cataloge.html" class="footer__link-nav">Каталог</a>
          </li>
          <li class="footer__item-nav">
            <a href="#" class="footer__link-nav">Відгуки</a>
          </li>
          <li class="footer__item-nav">
            <a href="#" class="footer__link-nav">Кошик</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>