<footer class="footer">
  <div class="footer__container container">
    <div class="footer__body">
      <ul class="footer__list-social">
        <li class="footer__item-social">
          <a href="" class="footer__link-social">
          </a>
        </li>
        <li class="footer__item-social">
          <a href="" class="footer__link-social">
          </a>
        </li>
        <li class="footer__item-social">
          <a href="" class="footer__link-social">
          </a>
        </li>
        <li class="footer__item-social">
          <a href="" class="footer__link-social">
          </a>
        </li>
      </ul>
      <div class="footer__wrapper-logo"></div>
      <nav class="footer__nav">
        <ul class="footer__list-nav">
          <li class="footer__item-nav">
            <a href="" class="footer__link-nav"></a>
          </li>
          <li class="footer__item-nav">
            <a href="" class="footer__link-nav"></a>
          </li>
          <li class="footer__item-nav">
            <a href="" class="footer__link-nav"></a>
          </li>
          <li class="footer__item-nav">
            <a href="" class="footer__link-nav"></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>