<header class="header">
  <div class="header__container container">
    <div class="header__body">
      <div class="header__wrapper-social">
        <ul class="header__social-list">
          <li class="headder__item-social"><a href="https://www.facebook.com/?locale=uk_UA" target="_blank"
              class="header__social-link">
              <svg class='icon-fb'>
                <use href='/src/images/icon/sprite.svg#icon-fb'></use>
              </svg>
            </a>
          </li>
          <li class="headder__item-social"><a href="https://www.instagram.com/" target="_blank"
              class="header__social-link">
              <svg class='icon-inst'>
                <use href='/src/images/icon/sprite.svg#icon-inst'></use>
              </svg>
            </a>
          </li>
          <li class="headder__item-social"><a href="https://web.telegram.org/" target="_blank"
              class="header__social-link">
              <svg class='icon-telegram'>
                <use href='/src/images/icon/sprite.svg#icon-telegram'></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="header__wrapper-input">
          <input type="text" placeholder="Пошук по каталогу" class="header__search">
          <svg class='icon-input'>
            <use href='/src/images/icon/sprite.svg#icon-search'></use>
          </svg>
        </div>
      </div>
      <div class="wrapper-logo">
        <svg class='icon-logo'>
          <use href='/src/images/icon/sprite.svg#icon-cupcake'></use>
        </svg>
        <p class="header__name-cake">Торти</p>
        <p class="header__name-logo">на замовлення</p>
      </div>
      <div class="wrapper__user">
        <div class="header__wrapper-tel">
          <div class="wrapper__tel">
            <a href="tel:+380989888888" class="header__tel">
              <svg class='icon-tel'>
                <use href='/src/images/icon/sprite.svg#icon-phone'></use>
              </svg>
            </a>
          </div>
          <a href="tel:+380989888888" class="header__tel">+38 (098) 988 - 88 -88</a>
        </div>
        <div class="wrapper__block">
          <div class="header__wrapper-search">
            <div class="wrapper__search">
              <svg class='icon-serch'>
                <use href='/src/images/icon/sprite.svg#icon-search'></use>
              </svg>
            </div>
          </div>
          <div class="header__wrapper-login js-open-registration">
            <div class="wrapper__login">
              <svg class='icon-login'>
                <use href='/src/images/icon/sprite.svg#icon-person'></use>
              </svg>
            </div>
            <p class="login__text">Вхід в кабінет</p>
          </div>
          <div class="header__wrapper-cart js-open-basket">
            <div class="wrapper__cart">
              <svg class='icon-cart'>
                <use href='/src/images/icon/sprite.svg#icon-cart'></use>
              </svg>
            </div>
            <p class="cart__text">Кошик</p>
          </div>
          <div class="header__wrapper-burger js-open-burger">
            <svg class='icon-burger'>
              <use href='/src/images/icon/sprite.svg#icon-burger'></use>
            </svg>
            <!-- <div class="burger__icon-close js-close-burger">
              <svg class='icon-close'>
                <use href='/src/images/icon/sprite.svg#icon-close'></use>
              </svg>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__line"></div>
</header>