<section class="team">
  <div class="team__container container">
    <div class="team__body">
      <div class="team__img-wrapper">
        <div class="team__item-card">
          <div class="team__wrapper-img">
              <a href="#" class="team__link-img">
                  <img src="/src/images/card/girl_cake.webp" alt="cake" class="team__card-img">
              </a>
          </div>
          <div class="team__card-thumb">
              <div class="team__wrapper-name">
                  <a href="#" class="team__name-link">
                      <h2 class="team__name">До каталогу товарів</h2>
                  </a>
                  <div class="team__wrapper-icon">
                      <a href="#" class="team__link">
                          <svg class='team__card-icon'>
                              <use href='/src/images/icon/sprite.svg#icon-arrow-up-right'></use>
                          </svg>
                      </a>
                  </div>
              </div>
              <ul class="team__list-tag">
                  <li class="team__item-tag button-frame"><a href="#" class="team__tag-link">Торти</a></li>
                  <li class="team__item-tag button-frame"><a href="#" class="team__tag-link">Десерти</a></li>
                  <li class="team__item-tag button-frame"><a href="#" class="team__tag-link">Випічка</a></li>
              </ul>
          </div>
      </div>
      </div>
      <div class="team__content">
        <h2 class="team__title title">Команда</h2>
        <ul class="team__list">
          <li class="team__item">Наша команда складається з професійних кондитерів з досвідом виконання різноманітних
            технік, які підходять до кожного замовника індивідуально.</li>
          <li class="team__item">Ми досвідчені, креативні професіонали своєї справи.</li>
          <li class="team__item">Ми підбираємо тематику, оптимальні вагу та форму, смак тіста, кремів та начинок.</li>
        </ul>
      </div>
    </div>
  </div>
</section>