<section class="main__order">
    <div class="main__order-container container">
        <div class="main__order-body">
            <div class="main__order-img-wrapper">
                <div class="main__order-item-card">
                    <div class="main__order-wrapper-img">
                        <a href="#" class="main__order-link-img">
                            <img src="/src/images/card/boy_cake.webp" alt="cake" class="main__order-card-img">
                        </a>
                    </div>
                </div>
            </div>
            <div class="main__order-content">
                <h2 class="main__order-title title">Замовлення</h2>
                <ul class="main__order-list">
                    <li class="main__order-item">Замовлення тортів та інших десертів приймається не менше ніж за 72
                        години до їх готовності.</li>
                    <li class="main__order-item">Корпоративні та весільні замовлення приймаються не менше ніж за 144
                        години.</li>
                    <li class="main__order-item">Доставку здійснюємо по Одесі до 50км - всі деталі проговорюються з
                        менеджером.</li>
                </ul>
            </div>
        </div>
    </div>
</section>