<section class="position-text-main container">
  <a class="link-main" href="#">Головна</a>
  <h3 class="secondary-title">Концепція</h3>
  <p class="first-paragraph-hero">
    Кондитерська студія
    <span class="another-color">Торти на замовлення</span> виготовляє та
    доставляє власні авторські десерти по <span>м. Одеса.</span>
  </p>
  <p class="second-paragraph-hero">
    Весільні торти, торти на день народження, капкейки, трайфли до будь-якої
    події у вашому житті.
  </p>
  <p class="third-paragraph-hero">
    <span class="another-color">Лише натуральні інградієнти</span> Лише
    індивідуальний підхід
  </p>
  <p class="fourth-paragraph-hero">
    <span class="another-color">Даруємо щастя</span> та робимо Ваш день
    атмосферним професійно!
  </p>
</section>
