<section class="main">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide my-slide">
        <img src="/src/images/poma/01.webp" alt="cake1" class="image-slide">
      </div>
      <div class="swiper-slide">
        <img src="/src/images/poma/02.webp" alt="cake2" class="image-slide">
      </div>
      <div class="swiper-slide">
        <img src="/src/images/poma/03.webp" alt="cake3" class="image-slide">
      </div>
    </div>
    <div class="main__wraper-content">
      <h1 class="main__title-cake">Найсмачніші торти</h1>
      <p class="main__text">Ласкаво просимо до кондитерської студії “Торти на замовлення”.
        Професійнально даруємо радість.</p>
      <a href="/src/card_basket.html" class="main__button button-inherit button-color">Замовити торт</a>
    </div>
  </div>
  <div class="main__container container">
    <div class="cataloge__main-container">
      <ul class="cataloge__main-list">
        <li class="cataloge__main-item">
          <a href="/src/index.html" class="cataloge__main-link"> Про нас </a>
        </li>
        <li class="cataloge__main-item">
          <a href="/src/cataloge.html" class="cataloge__main-link">
            Каталог тортів
          </a>
        </li>
        <li class="cataloge__main-item">
          <a href="/src/contacts.html" class="cataloge__main-link">
            Контакти
          </a>
        </li>
        <li class="cataloge__main-item">
          <a href="#" class="cataloge__main-link"> Відгуки </a>
        </li>
        <li class="cataloge__main-item">
          <a href="#" class="cataloge__main-link"> Замовлення </a>
        </li>
      </ul>
    </div>
  </div>
</section>