<section class="main">
  <div class="main__container container">
    <div class="main__body">
      <p class="p"> Hello World </p>
      <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. At debitis perferendis dicta sint?
        Magni, temporibus impedit perferendis aliquam soluta quod sapiente voluptatem, voluptatum cumque eius ut quae
        iure voluptas aliquid!lorem</p>
      <ul class="main__list">
        <li class="main__item">
          <a href="/src/card.html" class="link">card</a>
        </li>
        <li class="main__item">
          <a href="/src/card_basket.html" class="link">basket</a>
        </li>
        <li class="main__item">
          <a href="/src/cataloge.html" class="link">cataloge</a>
        </li>
        <li class="main__item">
          <a href="/src/contacts.html" class="link">main-contacts</a>
        </li>
      </ul>
      <svg class='icon'>
        <use xlink:href="/src/images/icon/sprite.svg#icon-inst"></use>
      </svg>
    </div>
  </div>
</section>