<section class="main">
  <div class="main__container container">
    <div class="cataloge__main">
      <div class="cataloge__main-container">
        <ul class="cataloge__main-list">
          <li class="cataloge__main-item">
            <a href="/src/index.html" class="cataloge__main-link"> Про нас </a>
          </li>
          <li class="cataloge__main-item">
            <a href="/src/cataloge.html" class="cataloge__main-link">
              Каталог тортів
            </a>
          </li>
          <li class="cataloge__main-item">
            <a href="/src/contacts.html" class="cataloge__main-link">
              Контакти
            </a>
          </li>
          <li class="cataloge__main-item">
            <a href="#" class="cataloge__main-link"> Відгуки </a>
          </li>
          <li class="cataloge__main-item">
            <a href="#" class="cataloge__main-link"> Замовлення </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="swiper ">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide my-slide">
          <!-- <picture>
                <source media="(min-width: 320px)" srcset="/src/images/slider-mobile/01.jpg" />
                <img class="image-slide" src="/src/images/slider-mobile/01.jpg" alt="qwerty" />
              </picture> -->
          <img src="/src/images/hero/hero_home.webp" alt="qwerty" class="image-slide">
        </div>
        <div class="swiper-slide">
          <!-- <picture>
                <source media="(min-width: 320px)" srcset="/src/images/slider-mobile/02.jpg" />
                <img class="image-slide" src="/src/images/slider-mobile/02.jpg" alt="qwerty2" />
              </picture> -->
          <img src="/src/images/hero/cataloge_hero.webp" alt="qwerty2" class="image-slide">
        </div>
        <div class="swiper-slide">
          <!-- <picture>
                <source media="(min-width: 320px)" srcset="/src/images/slider-mobile/03.jpg" />
                <img class="image-slide" src="/src/images/slider-mobile/03.jpg" alt="qwerty3" />
              </picture> -->
          <img src="/src/images/hero/slide-img.webp" alt="qwerty3" class="image-slide">
        </div>
      </div>
      <div class="main__wraper-content">
        <h1 class="main__title-cake">Найсмачніші торти</h1>
        <p class="main__text">Ласкаво просимо до кондитерської студії “Торти на замовлення”.
          Професійнально даруємо радість.</p>
        <button class="main__button button-inherit">Замовити торт</button>
      </div>
    </div>
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
    <div class="main__body">
      <ul class="main__list">
        <li class="main__item">
          <a href="/src/card.html" class="link">card</a>
        </li>
        <li class="main__item">
          <a href="/src/card_basket.html" class="link">basket</a>
        </li>
        <li class="main__item">
          <a href="/src/cataloge.html" class="link">cataloge</a>
        </li>
        <li class="main__item">
          <a href="/src/contacts.html" class="link">main-contacts</a>
        </li>
      </ul>
    </div>
  </div>
</section>