<section class="main__feedback">
    <div class="main__feedback-container container">
        <div class="main__feedback-body">
            <div class="main__feedback-img-wrapper">
                <div class="main__feedback-item-card">
                    <img src="/src/images/card/cake_cookies.webp" loading="lazy" alt="cake" class="main__feedback-card-img">
                </div>
            </div>
            <div class="main__feedback-wrapper">
                <div class="contact__feedback-container">
                    <div class="contact__feedback-body">
                        <h2 class="contact__feedback-title title">Зворотній зв’язок</h2>
                        <form action="#" class="contact__feedback-form">
                            <div class="contact__feedback-wrapper">
                                <input type="text" required placeholder="Ваше ім’я" minlength="3" maxlength="10"
                                    class="contact__feedback-name">
                                <input type="text" placeholder="Подія (не обов’язково)" class="contact__feedback-event">
                            </div>
                            <input type="text" placeholder="Коментар (не обов’язково)"
                                class="contact__feedback-comment">
                            <div class="contact__feedback-wrapper-input">
                                <label for="tell" class="contact__feedback-label-phone">+38</label>
                                <input type="tel" name="tell" required placeholder="(050) 505 - 50 - 50"
                                    class="contact__feedback-phone">
                            </div>
                            <button type="submit" class="contact__feedback-button button-inherit">Надіслати</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>