<div class="cataloge__main">
    <div class="cataloge__main-body">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide my-slide">
                    <img src="/src/images/poma/01.webp" alt="cake1" class="image-slide">
                </div>
                <div class="swiper-slide">
                    <img src="/src/images/poma/02.webp" alt="cake2" class="image-slide">
                </div>
                <div class="swiper-slide">
                    <img src="/src/images/poma/03.webp" alt="cake3" class="image-slide">
                </div>
            </div>
        </div>
    </div>
    <div class="cataloge__main-container">
        <ul class="cataloge__main-list">
            <li class="cataloge__main-item">
                <a href="/src/index.html" class="cataloge__main-link">
                    Про нас
                </a>
            </li>
            <li class="cataloge__main-item">
                <a href="/src/cataloge.html" class="cataloge__main-link active">
                    Каталог тортів
                </a>
            </li>
            <li class="cataloge__main-item">
                <a href="/src/contacts.html" class="cataloge__main-link">
                    Контакти
                </a>
            </li>
            <li class="cataloge__main-item">
                <a href="#" class="cataloge__main-link">
                    Відгуки
                </a>
            </li>
            <li class="cataloge__main-item">
                <a href="#" class="cataloge__main-link">
                    Замовлення
                </a>
            </li>
        </ul>
    </div>
</div>