<section class="cataloge__why">
    <span class="cataloge__line"></span>
    <div class="cataloge__why-container container">
        <div class="cataloge__why-body">
            <h2 class="cataloge__why-title title">Чому саме ми?</h2>
            <ul class="cataloge__why-list">
                <li class="cataloge__why-item">Кондитерська студія <span>Торти на замовлення</span> виготовляє та
                    доставляє торти,
                    кейки, цукерки, трайфли до будь якої події у вашому житті.
                </li>
                <li class="cataloge__why-item">Ми використовуємо <span>лише натуральні інградієнти</span>.</li>
                <li class="cataloge__why-item"><span>Даруємо щастя</span> та робимо Ваш день атмосферним!</li>
            </ul>
            <div class="cataloge__wrapper-button js-open-feedback">
                <button class="cataloge__button button-inherit">Зв’язатися з менеджером </button>
            </div>
        </div>
    </div>
</section>