<section class="cataloge__card">
    <div class="cataloge__card-container">
        <div class="cataloge__card-body">
            <ul class="cataloge__card-list">
                <li class="cataloge__card-item">
                    <a href="/src/index.html" class="cataloge__card-link">Головна</a>
                    <svg class='link-icon'>
                        <use href='/src/images/icon/sprite.svg#icon-chevron-right'></use>
                    </svg>
                </li>
                <li class="cataloge__card-item">
                    <a href="/src/cataloge.html" class="cataloge__card-link">Каталог товарів</a>
                </li>
            </ul>
        </div>
    </div>
</section>