<section class="cataloge__card">
    <div class="cataloge__card-container container">
        <div class="cataloge__card-body">
            <ul class="cataloge__card-list">
                <li class="cataloge__card-item">
                    <a href="/src/index.html" class="cataloge__card-link">Головна</a>
                    <svg class='link-icon'>
                        <use href='/src/images/icon/sprite.svg#icon-chevron-right'></use>
                    </svg>
                </li>
                <li class="cataloge__card-item">
                    <a href="/src/cataloge.html" class="cataloge__card-link"><span>Каталог товарів</span></a>
                </li>
            </ul>
            <ul class="cataloge__list-card">
                <li class="cataloge__item-card">
                    <div class="cataloge__wrapper-img">
                        <a href="#" class="cataloge__link-img">
                            <img src="/src/images/card/color_cake.webp" loading="lazy" alt="cake" class="cataloge__card-img">
                        </a>
                    </div>
                    <div class="cataloge__card-thumb">
                        <div class="cataloge__wrapper-name">
                            <a href="#" class="cataloge__name-link">
                                <h2 class="cataloge__name">Новинки</h2>
                            </a>
                            <div class="cataloge__wrapper-icon">
                                <a href="#" class="cataloge__link">
                                    <svg class='cataloge__card-icon'>
                                        <use href='/src/images/icon/sprite.svg#icon-arrow-up-right'></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <ul class="cataloge__list-tag">
                            <li class="cataloge__item-tag button-frame"><a href="#" class="cataloge__tag-link">Дитячі</a></li>
                            <li class="cataloge__item-tag button-frame"><a href="#" class="cataloge__tag-link">Бенто-тортики</a></li>
                            <li class="cataloge__item-tag button-frame"><a href="#" class="cataloge__tag-link">Трайфли</a></li>
                        </ul>
                    </div>
                </li>
                <li class="cataloge__item-card">
                    <div class="cataloge__wrapper-img">
                        <a href="#" class="cataloge__link-img">
                            <img src="/src/images/card/white_cake.webp" loading="lazy" alt="cake" class="cataloge__card-img">
                        </a>
                    </div>
                    <div class="cataloge__card-thumb">
                        <div class="cataloge__wrapper-name">
                            <a href="#" class="cataloge__name-link">
                                <h2 class="cataloge__name">Торти</h2>
                            </a>
                            <div class="cataloge__wrapper-icon">
                                <a href="#" class="cataloge__link">
                                    <svg class='cataloge__card-icon'>
                                        <use href='/src/images/icon/sprite.svg#icon-arrow-up-right'></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <ul class="cataloge__list-tag">
                            <li class="cataloge__item-tag button-frame"><a href="#" class="cataloge__tag-link">Дитячі</a></li>
                            <li class="cataloge__item-tag button-frame"><a href="#" class="cataloge__tag-link">Весільні</a></li>
                            <li class="cataloge__item-tag button-frame"><a href="#" class="cataloge__tag-link">Бенто-тортики</a></li>
                        </ul>
                    </div>
                </li>
                <li class="cataloge__item-card">
                    <div class="cataloge__wrapper-img">
                        <a href="#" class="cataloge__link-img">
                            <img src="/src/images/card/blue_cake.webp" loading="lazy" alt="cake" class="cataloge__card-img">
                        </a>
                    </div>
                    <div class="cataloge__card-thumb">
                        <div class="cataloge__wrapper-name">
                            <a href="#" class="cataloge__name-link">
                                <h2 class="cataloge__name">Випічка</h2>
                            </a>
                            <div class="cataloge__wrapper-icon">
                                <a href="#" class="cataloge__link">
                                    <svg class='cataloge__card-icon'>
                                        <use href='/src/images/icon/sprite.svg#icon-arrow-up-right'></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <ul class="cataloge__list-tag">
                            <li class="cataloge__item-tag button-frame"><a href="#" class="cataloge__tag-link">Панкейки</a></li>
                            <li class="cataloge__item-tag button-frame"><a href="#" class="cataloge__tag-link">Пироги</a></li>
                            <li class="cataloge__item-tag button-frame"><a href="#" class="cataloge__tag-link">Тістечка</a></li>
                        </ul>
                    </div>
                </li>
                <li class="cataloge__item-card">
                    <div class="cataloge__wrapper-img">
                        <a href="#" class="cataloge__link-img">
                            <img src="/src/images/card/strawberry_cake.webp" loading="lazy" alt="cake" class="cataloge__card-img">
                        </a>
                    </div>
                    <div class="cataloge__card-thumb">
                        <div class="cataloge__wrapper-name">
                            <a href="#" class="cataloge__name-link">
                                <h2 class="cataloge__name">Десерти</h2>
                            </a>
                            <div class="cataloge__wrapper-icon">
                                <a href="#" class="cataloge__link">
                                    <svg class='cataloge__card-icon'>
                                        <use href='/src/images/icon/sprite.svg#icon-arrow-up-right'></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <ul class="cataloge__list-tag">
                            <li class="cataloge__item-tag button-frame"><a href="#" class="cataloge__tag-link">Тістечка</a></li>
                            <li class="cataloge__item-tag button-frame"><a href="#" class="cataloge__tag-link">Цукерки</a></li>
                            <li class="cataloge__item-tag button-frame"><a href="#" class="cataloge__tag-link">Макаруни</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>