<div class="cataloge__main">
    <div class="cataloge__main-container">
        <ul class="cataloge__main-list">
            <li class="cataloge__main-item">
                <a href="/src/index.html" class="cataloge__main-link">
                    Про нас
                </a>
            </li>
            <li class="cataloge__main-item">
                <a href="/src/cataloge.html" class="cataloge__main-link active">
                    Каталог тортів
                </a>
            </li>
            <li class="cataloge__main-item">
                <a href="/src/contacts.html" class="cataloge__main-link">
                    Контакти
                </a>
            </li>
            <li class="cataloge__main-item">
                <a href="#" class="cataloge__main-link">
                    Відгуки
                </a>
            </li>
            <li class="cataloge__main-item">
                <a href="#" class="cataloge__main-link">
                    Замовлення
                </a>
            </li>
        </ul>
        <div class="cataloge__main-body">
            <img src="/src/images/hero/hero_order.webp" alt="three sweet cakes" class="cataloge__main-img">
        </div>
    </div>
</div>