<div class="basket__empty js-modal-basket-empty">
    <div class="basket__empty-container">
        <div class="basket__empty-body">
            <div class="basket__empty-wrapper-icon js-close-basket-empty">
                <h2 class="basket__empty-title">Кошик товарів</h2>
                <svg class='basket__empty-icon-close'>
                    <use href='/src/images/icon/sprite.svg#icon-close'></use>
                </svg>
            </div>
            <p class="basket__empty-counter">Додано: <span class="goods">0</span> товарів на суму<span
                    class="amount">0</span></p>
            <button class="basket__empty-button button-blue js-next-purchase">Продовжити покупки</button>
            <p class="basket__empty-text">Кошик пустий</p>
        </div>
    </div>
</div>