<div class="basket__full js-modal-basket-full">
    <div class="basket__full-container">
        <div class="basket__full-body">
            <div class="basket__full-wrapper-icon js-close-basket-empty">
                <h2 class="basket__full-title js-change-cake">Торт для дівчинки Веселка</h2>
            </div>
            <p class="basket__full-text">Товар успішно доданий у кошик </p>
            <button class="basket__full-button button-blue js-full-next">Продовжити</button>
        </div>
    </div>
</div>