<div class="basket__modal js-modal-basket-modal">
    <div class="basket__modal-container">
        <div class="basket__modal-body">
            <div class="basket__modal-wrapper-icon">
                <h2 class="basket__modal-title">Кошик товарів</h2>
                <svg class='basket__modal-icon-close js-close-basket-modal'>
                    <use href='/src/images/icon/sprite.svg#icon-close'></use>
                </svg>
            </div>
            <p class="basket__modal-amount">Додано: <span class="goods">2</span> товарів на суму<span
                    class="amount">800</span></p>
            <div class="basket__modal-wrapper">
                <div class="basket__wrapper">
                    <div class="basket__modal-cake">
                        <img src="/src/images/small/cake.webp" alt="cake" class="basket__modal-img">
                        <div class="basket__wrapper-text">
                            <p class="basket__modal-tag">Торти</p>
                            <h2 class="basket__modal-name">Торт для дівчинки Веселка</h2>
                        </div>
                    </div>
                    <div class="basket__modal-counter">
                        <div class="basket__modal-wrapper-weight">
                            <p class="basket-weight-text">Вага</p>
                            <p class="basket-weight"><span class="weight">1,0</span> кг</p>
                        </div>
                        <div class="basket__modal-wrapper-number">
                            <p class="basket-minus">-</p>
                            <p class="basket-number">2</p>
                            <p class="basket-plus">+</p>
                        </div>
                    </div>
                </div>
                <div class="basket__modal-price">
                    <p class="basket__modal-cost">800 грн</p>
                    <div class="backet__modal-icon">
                        <svg class='basket-icon'>
                            <use href='/src/images/icon/sprite.svg#icon-trash'></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="basket__wrapper-order">
                <div class="basket__modal-wrapper-price">
                    <p class="basket__price-text">Вартість замовлення</p>
                    <p class="basket__price">800 грн</p>
                </div>
                <button class="basket__modal-button button-blue">Оформити замовлення</button>
                <p class="basket__modal-next js-close-basket">Продовжити покупки</p>
            </div>
        </div>
    </div>
</div>