<div class="feedback__modal js-modal-feedback">
    <div class="modal__container">
        <div class="modal__body">
            <div class="modal__wrapper-icon js-close-feedback">
                <h2 class="modal__title">Зворотній зв’язок</h2>
                <svg class='modal__icon-close'>
                    <use href='/src/images/icon/sprite.svg#icon-close'></use>
                </svg>
            </div>
            <p class="modal__text">Залиште ваші данні, наш менеджер зв'яжеться з вами протягом 30 хвилин.</p>
            <form action="#" class="modal__form js-form">
                <input type="text" required placeholder="Ваше ім’я" minlength="3" maxlength="10" class="modal__name">
                <input type="text" placeholder="Подія (не обов’язково)" class="modal__event">
                <input type="text" placeholder="Коментар (не обов’язково)" class="modal__comment">
                <div class="modal__wrapper-input">
                    <label for="tell" class="modal__label-phone">+38</label>
                    <input type="tel" name="tell" required placeholder="(050) 505 - 50 - 50" class="modal__phone">
                </div>
                <button type="submit" class="modal__button button-inherit">Надіслати</button>
            </form>
        </div>
    </div>
</div>