<div class="login__modal js-modal-login">
    <div class="login__container">
        <div class="login__body">
            <div class="login__wrapper-icon js-close-login">
                <h2 class="login__title">Авторизація</h2>
                <svg class='login__icon-close'>
                    <use href='/src/images/icon/sprite.svg#icon-close'></use>
                </svg>
            </div>
            <form action="#" class="login__form js-form-login">
                <label for="tel-log" class="login__tel">Введіть Ваш номер телефону
                    <input type="tel" id="tel-log" name="tel" placeholder="38 (096) 00 00 000" class="registration__tel-input">
                </label>
                <span class="or">Або</span>
                <label for="email-log" class="login__email">Введіть Вашу електронну адресу
                    <input type="email" id="email-log" name="email" placeholder="lyublyutort@gmail.com" class="registration__email-input">
                </label>
                <button type="submit" class="login__button button-inherit">Увійти в акаунт</button>
            </form>
            <button type="button" class="login__button-registration js-open-registr">Зареєструватися</button>
        </div>
    </div>
</div>