<div class="order__accepted js-modal-order-accepted">
    <div class="order__accepted-container">
        <div class="order__accepted-body">
            <div class="order__accepted-wrapper">
                <h2 class="order__accepted-title">Вітаю, Ваше замовлення прийняте!</h2>
            </div>
            <p class="order__accepted-text">Наш меенджер зв’яжеться з Вами!</p>
            <button class="order__accepted-button button-blue js-order-close">Дякую, що обрали нас!</button>
        </div>
    </div>
</div>