<div class="registration__modal js-modal">
    <div class="registration__container">
        <div class="registration__body">
            <div class="registration__wrapper-icon js-close">
                <h2 class="registration__title">Реєстрація</h2>
                <svg class='registration__icon-close'>
                    <use href='/src/images/icon/sprite.svg#icon-close'></use>
                </svg>
            </div>
            <form action="#" class="registration__form js-form">
                <label for="name-registr" class="registration__name">Введіть Ваше ім’я
                    <input type="text" id="name-registr" name="name" placeholder="Вікторія" class="registration__name-input">
                </label>
                <label for="tel-registr" class="registration__tel">Введіть Ваш номер телефону
                    <input type="tel" id="tel-registr" name="tel" placeholder="38 (096) 00 00 000" class="registration__tel-input">
                </label>
                <span class="or">Або</span>
                <label for="email-registr" class="registration__email">Введіть Вашу електронну адресу
                    <input type="email" id="email-registr" name="email" placeholder="lyublyutort@gmail.com" class="registration__email-input">
                </label>
                <button type="submit" class="registration__button button-inherit">Зареєструватися</button>
            </form>
            <button type="button" class="registration__button-login js-open-login">Увійти в акаунт</button>
        </div>
    </div>
</div>