<div class="card__contact">
    <div class="card__contact-container container">
        <div class="card__contact-body">
            <div class="card__contact-contact">
                <a href="tel:+380989888888" class="card__contact-tell">+38 (098) 988 - 88 -88</a>
                <div class="card__contact-wrapper">
                    <a href="#" target="_blank" class="card__contact-social">
                        <svg class='card__contact-icon'>
                            <use href='/src/images/icon/sprite.svg#icon-telegram'></use>
                        </svg>
                    </a>
                    <a href="#" target="_blank" class="card__contact-telegram">Телеграм</a>
                </div>
            </div>
            <div class="card__contact-offer">
                <p class="card__contact-time">Замовлення усіх кондитерських виробів можливе за 72 години.</p>
                <p class="card__contact-time">Для замовлення у коротші терміни зателефонуйте або напишіть нам.</p>
            </div>
        </div>
    </div>
</div>