<section class="card">
    <div class="card__container container">
        <div class="card__body">
            <div class="card__wrapper-link">
                <svg class='card__icon-link'>
                    <use href='/src/images/icon/sprite.svg#icon-chevron-right'></use>
                </svg>
                <a href="#" class="card__link">Усі торти</a>
            </div>
            <div class="card__wrapper-img">
                <img src="/src/images/card/color_cake.webp" alt="color cake" class="card__img">
                <div class="card__wrapper-pictogram">
                    <img src="/src/images/small/cake.webp" alt="color_cake" class="card__img-right">
                    <img src="/src/images/small/cake1.webp" alt="color_cake" class="card__img-left">
                </div>
            </div>
            <div class="card__content">
                <div class="card__wrapper-arrow">
                    <a href="#" class="card__link-arrow">
                        <svg class='card__arrow'>
                            <use href='/src/images/icon/sprite.svg#icon-arrow'></use>
                        </svg>
                        Усі торти
                    </a>
                </div>
                <h2 class="card__title title">Торт для дівчинки Веселка</h2>
                <p class="card__consists">Торт з кремом чіз та кольоровим бісквітом на натуральних харчових барвниках з
                    вкрапленнями мармеладу.
                </p>
                <div class="card__wrapper-amount">
                    <div class="card__wrapper-item" id="js-weight">
                        <div class="card__item-text">Вага</div>
                        <div class="card__item-number"><span data-action="decrement" class="minus">-</span><span
                                class="amount-heft js-amount js-total-weight">
                            </span><span data-action="increment" class="plus">+</span></div>
                    </div>
                    <div class="card__wrapper-item" id="js-number">
                        <div class="card__item-text">Кількість</div>
                        <div class="card__item-number"><span data-action="decrem" class="minus">-</span><span
                                class="amount js-amoun js-total-number"></span><span data-action="increm"
                                class="plus">+</span></div>
                    </div>
                    <div class="card__wrapper-item">
                        <div class="card__item-text">Вартість</div>
                        <div class="card__item-number"><span class="amount" id="js-total-price"></span></div>
                    </div>
                </div>
                <div class="card__wrapper-button">
                    <buttton class="card__button button-blue">Замовити</buttton>
                </div>
                <p class="card__delivery"><span class="strong">Безкоштовна</span> доставка при замовленні <span
                        class="color">від 650 грн</span>.<br>
                    При меншій сумі замовлення - <span class="color">120 грн</span>.</p>
            </div>
        </div>
    </div>
    <div class="card__line"></div>
</section>